<ion-view title="SmartShopping" hide-back-button=true>
  <ion-nav-buttons side="left">
    <!-- ion-navicon-->
    <button menu-toggle="left" class="button button-icon icon ion-android-user-menu"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader item-input-inset">
  <label class="item-input-wrapper label-clear">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" ng-model="searchtitle">
  </label>
  <button class="button button-clear" ng-click="searcharticle()">
    Search
  </button>
  </div>
  <ion-content class="has-header">
    <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="doRefresh()">
  </ion-refresher>
  <br>
  <br>
  <br>
    <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#">
        <div class="list">
        <a class="item item-thumbnail-left" href="#/app/playlists/{{playlist.id}}">
          <img src="png/android-image.png">
          <h2>{{playlist.title}}</h2>
          <p>{{playlist.text}}</p>
          <p>{{playlist.costo}}</p>
          <span class="badge badge-positive icon ion-ios7-star ">{{playlist.score}}</span>
        </a>
       </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>